# The code to scrape the following Wikipedia page, https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, in order to obtain the data that is in the table of postal codes and to transform the data into a pandas  dataframe

## Import libraries

In [1]:
# pip install geopy
# pip install folium
# pip install sklearn
# pip install lxml

import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files


from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans


import folium # map rendering library


print('Libraries imported.')

Libraries imported.

## Read all tables from  https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M, using pandas and select first table which contains needed data

In [3]:
# based on examples from https://pbpython.com/pandas-html-table.html
tables_CanadaM = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
print(f'Total tables: {len(tables_CanadaM)}')
df = tables_CanadaM[0]
df.head()

Total tables: 3

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

## Cleaning data
- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
- More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11  in the above table.
- If a cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough.
- In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [4]:
# select only rows with assigned Borough
df = df[df['Borough'] != 'Not assigned']

# group table by postal codes and select postal codes which are more than once in table
df_grp = df.groupby('Postal Code').count()
df_grp[df_grp['Borough'] >1 ]
# because select is empty we dont have to comnbine data into one row

Empty DataFrame
Columns: [Borough, Neighbourhood]
Index: []

In [5]:
# select rows which has Not assigned Neighbourhood
df[df['Neighbourhood'] == 'Not assigned']
# because select is empty we dont have to assign Neighbourhood

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [6]:
df.head(10)

   Postal Code           Borough                                Neighbourhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

In [7]:
# In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
df.shape

(103, 3)